body {
  font-family: "Segoe UI", sans-serif;
  background-color: #eef7ff;
}
.space {
  padding: 80px 0px;
}
.title {
  color: #024bb7;
}
.sub-title {
  font-size: 18px;
  color: black;
}

/* navbar section  */
nav {
  background-color: #eef7ff;
}

/* hero section  */
.hero {
  background: #eef7ff;
  padding: 75px 0;
  position: relative;
}

.hero .title {
  font-size: 66px;
  color: #024bb7;
  font-weight: 800;
}

/* service section  */
.service-card {
  border-radius: 35px;
  border: none;
  padding: 25px;
  text-align: left;
}
.service-card img {
  border-radius: 20px;
}

/* why choose us section  */
.why-us {
  background: linear-gradient(#024bb7bf, #032b85bd), url(../img/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 80px 0;
}

.why-box {
  background: rgb(255 255 255 / 58%);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 6px solid #41649e;
  outline: 5px double;
}
.why-box img {
  width: 200px;
}
/* slider section  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
